@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font: 1.2rem/1.6 'Montserrat', sans-serif;
}

.button {
  @apply py-3 px-6 bg-lime-600 rounded-md font-medium text-white text-center hover:cursor-pointer;
}